footer{
    grid-area: ft;  
    padding: 30px 0 40px 20px;
    text-align: center;
    background: rgb(231, 177, 76);
  }

  footer .copyright {
    top: -8px;
    font-size: .75em;
  }

  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }

  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
  }
  a.twitter {
    background-image: url(../images/svg/twitter.svg);
  }
  a.facebook {
    background-image: url(../images/svg/facebook.svg);
  }
  a.youtube {
    background-image: url(../images/svg/youtube.svg);
  }
  a.soundcloud {
    background-image: url(../images/svg/soundcloud.svg);
  }
  a.linkedin {
    background-image: url(../images/svg/linkedin.svg);
  }
  a.github {
    background-image: url(../images/svg/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }