header {
    grid-area:hd;
    text-align: center;
    background: url("../../images/manila.jpg");
    background-size: cover;
    overflow: hidden;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-position: center;
    line-height: 1.5;
    border-bottom: 10px solid rgb(114, 108, 108);
  }
  header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #eee;
    transition: all .5s;
  }
  header .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
  }
  .tag {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  }   